In [1]:
#RA2011027010035
#MOHAMMAD AZHAR SOFI

import pandas as pd
import numpy as np

In [2]:
#import datsset
df=pd.read_csv('Age_Height_Data - Age_Height_Data.csv')
df.head()

   Age in Months  height in cm
0             18            76
1             19            77
2             20            78
3             21            78
4             22            79

In [3]:
df.describe()

       Age in Months  height in cm
count       10.00000     10.000000
mean        22.50000     79.300000
std          3.02765      2.057507
min         18.00000     76.000000
25%         20.25000     78.000000
50%         22.50000     79.500000
75%         24.75000     80.750000
max         27.00000     82.000000

In [6]:
X = df[['Age in Months']]
Y = df['height in cm']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2,
random_state=101)

In [9]:
X_train

   Age in Months
0             18
4             22
9             27
3             21
5             23
7             25
6             24
1             19

In [10]:
X_test

   Age in Months
8             26
2             20

In [11]:
Y_train

0    76
4    79
9    82
3    78
5    80
7    81
6    80
1    77
Name: height in cm, dtype: int64

In [12]:
Y_test

8    82
2    78
Name: height in cm, dtype: int64

In [14]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,Y_train)
y_pred=lm.predict(X_test)
y_pred

array([81.54403131, 77.54011742])

In [16]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(Y_test, y_pred)

y_true = [82, 77]
y_pred = [82, 77]
mean_absolute_error(y_true, y_pred)

y_true = [82, 78]
y_pred = [81, 77]
mean_absolute_error(y_true, y_pred)

from sklearn.metrics import mean_squared_error
y_true = [82, 78]
y_pred = [81, 77]
mean_squared_error(y_true, y_pred)

rmse = mean_squared_error(y_true, y_pred, squared = False)

from sklearn.metrics import mean_absolute_error
y_true = [82, 70]
y_pred = [81, 77]
mean_absolute_error(y_true, y_pred)

from sklearn.metrics import r2_score

#Perfect match of y and f
y =[10, 20, 30]
f =[10, 20, 30]
r2 = r2_score(y, f)
print('r2 score for perfect model is', r2)

### Assume y is the actual value and f is the predicted values
# y and f not matched, only one value matched
y =[10, 20, 30]
f =[20, 20, 20]
r2 = r2_score(y, f)
print('r2 score for a model which predicts mean value always is', r2)

# y and f not at all matched
y =[10, 20, 30]
f =[20, 10, 20]
r2 = r2_score(y, f)
print('r2 score for a model which predicts mean value always is', r2)

y_true = [82, 78]
y_pred = [81.5, 77.5]
r2 = r2_score(y_true, y_pred)
print('r2 score for perfect model is', r2)

r2 score for perfect model is 1.0
r2 score for a model which predicts mean value always is 0.0
r2 score for a model which predicts mean value always is -0.5
r2 score for perfect model is 0.9375